@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 246, 246, 246;
  --background-end-rgb: 255, 255, 255;
  --rugby-green: 0, 100, 0;
  --rugby-blue: 0, 71, 171;


}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rugby-green {
  color: rgb(var(--rugby-green));
}

.bg-rugby-green {
  background-color: rgb(var(--rugby-green));
}

.rugby-blue {
  color: rgb(var(--rugby-blue));
}

.bg-rugby-blue {
  background-color: rgb(var(--rugby-blue));
}

.btn-rugby-green {
  background-color: rgb(var(--rugby-green));
  color: white;
}

.btn-rugby-green:hover {
  background-color: rgba(var(--rugby-green), 0.9);
}

.btn-rugby-blue {
  background-color: rgb(var(--rugby-blue));
  color: white;
}

.btn-rugby-blue:hover {
  background-color: rgba(var(--rugby-blue), 0.9);
}

.card {
  @apply border border-gray-200 rounded-md p-6 shadow-md hover:shadow-xl duration-300
  /* background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  border-color: #d1d5dc;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); */
}